@model UserDetailViewModel
@{
	Layout = null;
}

<div class="container">
<h3>
	Kullanıcı Bilgisi
</h3>
<div class="alert alert-info">@Model.Id</div>
<div class="alert alert-info">@Model.Email</div>
<div class="alert alert-info">@Model.Name</div>
<div class="alert alert-info">@Model.Surname</div>
<div class="alert alert-info">@Model.UserName</div>
</div>